:root {
  --color-primary: #212529;
  --color-secondary: #343a40;
  --color-tertiary: #495057;
  --color-font: #adb5bd;
  --color-btn: #fcc419;
  --color-btn-edit: #ff7b00;
  --color-btn-delete: #dd2d4a;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Prompt", sans-serif;
  background-color: var(--color-primary);
}

.btn {
  width: max-content;
  font-size: inherit;
  border: none;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 0.5rem;
  color: var(--color-font);
}

.btn__delete,
.btn__delete_all {
  background-color: var(--color-btn-delete);
}
.btn__delete:hover,
.btn__delete_all:hover {
  filter: hue-rotate(180deg);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 99vh;
  overflow: hidden;
}
.heading__primary {
  font-size: 7.6rem;
  text-align: center;
  font-family: "Passero One", cursive;
  background-image: linear-gradient(
    to right bottom,
    var(--color-btn),
    var(--color-btn-delete)
  );
  background-clip: text;
  color: transparent;
  margin: 2rem 0 6rem 0;
  line-height: normal;
}
.todo__container {
  position: relative;
  width: 100rem;
}

@media (max-width: 69em) {
  .todo__container {
    padding: 0 5rem;
    width: 100%;
  }
}

@media (max-width: 56.25em) {
  .content__remove_box {
    flex-direction: column;
    border-left: 1px solid var(--color-primary);
    align-self: stretch;
    justify-content: center;
    padding-left: 1rem;
  }

  .item__date {
    border: none;
    padding-left: 0;
  }
  .input {
    width: 50%;
    padding-left: 1rem;
  }
  .input__box {
    gap: 0;
  }
}
@media (max-width: 40.62em) {
  .item__text {
    grid-column: 2 / -1;
  }
  .content__remove_box {
    grid-column: 1 / -1;
    border: none;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid var(--color-primary);
    padding-left: 0;
    padding-top: 1rem;
  }
  .fake__checkbox {
    align-self: start;
    margin-top: 1.5rem;
  }
  .btns__container {
    flex-direction: row;
    gap: 2rem;
  }
}
@media (max-width: 31em) {
  html {
    font-size: 56.25%;
  }

  .label {
    display: none;
  }
  .heading__primary {
    margin-bottom: 2rem;
  }
  .input__box {
    padding: 1rem;
  }
  .heading__primary {
    font-size: 5.4rem;
  }
  .btn {
    padding: 0.4rem 0.6rem;
    font-size: 1.4rem;
    border-radius: 3px;
  }

  .todo__container {
    padding: 0 1rem;
  }
}
@media (max-width: 23.5em) {
  html {
    font-size: 50%;
  }

  .input__box {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .input {
    width: 100%;
  }
}
